@define-color color1 #000000;
@define-color color2 rgba(66, 65, 83, 0.5); /* #42415380 */
@define-color color3 #999999;
@define-color color4 #cccccc;
@define-color color5 #ffffff;
@define-color color6 #abbcda;
@define-color color7 #663399;
@define-color color8 rgba(1, 131, 255, 0.30);

window#waybar {
    background-color: @color2;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#network, 
#pulseaudio,
#pulseaudio.muted,
#network.disconnected,
#backlight,
#battery,
#battery.charging, 
#battery.plugged,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver,
#clock,
#language {
    background-color: transparent;
    color: @color5;
}

#pulseaudio:hover, 
#network:hover,
#backlight:hover,
#battery:hover,
#battery.charging:hover,
#battery.plugged:hover,
#power-profiles-daemon.power-saver:hover,
#power-profiles-daemon.performance:hover,
#power-profiles-daemon.balanced:hover,
#bluetooth:hover, #language:hover
{
    background-color: @color2;
}

#workspaces button {
    background-color: transparent;
    color: @color5;
    border-radius: 0px;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}
#workspaces button.empty {
    color: @color3;
}
#workspaces button.visible {
    background-color: @color7;
}
#workspaces button.active{
    background-color: @color4;
    color: @color1;
}
#workspaces button:hover {
    background-color: @color2;
}

#bluetooth{
    background-color: transparent;
}
#bluetooth.connected{
   background-color: transparent;
   animation-name: glow-green;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-iteration-count: 2;
}
@keyframes glow-green {
    0% {
        color: @color5;
    }
    30% {
        color: rgba(91, 234, 115, 0.65);
    }
    60% {
        color: rgba(91, 234, 115, 1);
    }
    100% {
        color: @color5;
    }
}
#bluetooth.discovering{
   animation-name: glow-orange;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-iteration-count: 3;
}
@keyframes glow-orange {
    0% {
        color: @color5;
    }
    30% {
        color: rgba(234, 174, 91, 0.65);
    }
    60% {
        color: rgba(234, 174, 91, 1);
    }
    100% {
        color: @color5;
    }
}

