yay/
pulse/
spicetify/
Vial/
obsidian/
sublime-merge/
session/
spotify/
peazip/
onlyoffice/
nwg-look/
kde.org/
ibus/
gtk-3.0/
gtk-4.0/
go/
dconf/
btop/
nvim/
dolphinrc
filetypesrc
mimeapps.list
pavucontrol.ini
QtProject.conf
trashrc
baloofileinformationrc
