@define-color color1 #000000;
@define-color color2 rgba(66, 65, 83, 0.5); /* #42415380 */
@define-color color3 #999999;
@define-color color4 #cccccc;
@define-color color5 #ffffff;
@define-color color6 #abbcda;
@define-color color7 #663399;

window#waybar {
    background-color: @color2;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Audio */
#pulseaudio {
    background-color: transparent;
    color: @color5;
    opacity: 1.0;
}

#pulseaudio.muted {
    background-color: transparent;
    color: @color5;
}

#pulseaudio:hover, 
#network:hover,
#backlight:hover,
#battery:hover,
#battery.charging:hover,
#battery.plugged:hover,
#power-profiles-daemon.power-saver:hover,
#power-profiles-daemon.performance:hover,
#power-profiles-daemon.balanced:hover,
#bluetooth:hover
{
    background-color: @color2;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: transparent;
}

#backlight {
    background-color: transparent;
}

#battery {
    background-color: transparent;
    color: @color5;
    /* margin-right: 8px; */
}

#battery.charging, #battery.plugged {
    background-color: transparent;
    color: @color5;
}

#power-profiles-daemon.performance {
    background-color: transparent;
    color: @color5;
}

#power-profiles-daemon.balanced {
    background-color: transparent;
    color: @color5;
}

#power-profiles-daemon.power-saver {
    background-color: transparent;
    color: @color5;
}

#workspaces button {
    background-color: transparent;
    color: @color5;
    border-radius: 0px;
}

#workspaces button:hover {
    background-color: @color2;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active{
    background-color: @color4;
    color: @color1;
}

#clock {
    background-color: transparent;
}
#bluetooth{
    background-color: transparent;
}
#bluetooth.connected{
   background-color: transparent;
   animation-name: glow-green;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-iteration-count: 2;
}

@keyframes glow-green {
    0% {
        color: @color5;
    }
    30% {
        color: rgba(91, 234, 115, 0.65);
    }
    60% {
        color: rgba(91, 234, 115, 1);
    }
    100% {
        color: @color5;
    }
}

#bluetooth.discovering{
   animation-name: glow-orange;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-iteration-count: 3;
}

@keyframes glow-orange {
    0% {
        color: @color5;
    }
    30% {
        color: rgba(234, 174, 91, 0.65);
    }
    60% {
        color: rgba(234, 174, 91, 1);
    }
    100% {
        color: @color5;
    }
}
