@import "../themes/current/waybar.css";

* {
    /* for FontAwesome `otf-font-awesome` is required to be installed for icons */
    font-family: 'SF Pro Text', 'Symbols Nerd Font Mono', 'Symbols Nerd Font','JetBrainsMono Nerd Font Propo', Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0px;
}

window#waybar {
    background-color: @background;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button {
    transition: none;
    padding: 0 5px;
    background-color: @workspace-default;
    color: @foreground;
}
#workspaces button.urgent {
    background-color: @critical;
}
#workspaces button.visible.hosting-monitor{
	color: @mark-foreground-two;
	background-color: @mark-background-two;
}
#workspaces button.hosting-monitor {
    background-color: @this-monitor;
}
#workspaces button.empty {
    color: @subtext;
    background-color: @workspace-default;
}
#workspaces button.active.hosting-monitor {
    background-color: @mark-background;
    color: @mark-foreground;
}
#workspaces button.active:hover{
    color: @hover-foreground;
}
#workspaces button:hover {
    background-color: @hover-background;
    color: @hover-foreground;
    box-shadow: inherit;
    text-shadow: inherit;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#bluetooth,
#mode,
#power-profiles-daemon
{
    padding: 0 13px;
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#network, 
#pulseaudio,
#pulseaudio.muted,
#network.disconnected,
#backlight,
#battery,
#battery.charging, 
#battery.plugged,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver,
#clock,
#language,
#bluetooth {
    background-color: transparent;
    color: @foreground;
}

#pulseaudio:hover, 
#network:hover,
#backlight:hover,
#battery:hover,
#battery.charging:hover,
#battery.plugged:hover,
#power-profiles-daemon.power-saver:hover,
#power-profiles-daemon.performance:hover,
#power-profiles-daemon.balanced:hover,
#bluetooth:hover, #language:hover,
#bluetooth.connected:hover
{
    background-color: @hover-background;
    color: @hover-foreground;
}

#bluetooth.connected{
   background-color: transparent;
   animation-name: glow-green;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-iteration-count: 2;
}
@keyframes glow-green {
    0% {
        color: @foreground;
    }
    30% {
        color: @positive;
	opacity: 0.65;
    }
    60% {
        color: @positive;
	opacity: 1;
    }
    100% {
        color: @foreground;
    }
}
#bluetooth.discovering{
   animation-name: glow-orange;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-iteration-count: 3;
}
@keyframes glow-orange {
    0% {
        color: @foreground;
    }
    30% {
        color: @ping;
	opacity: 0.65;
    }
    60% {
        color: @ping;
	opacity: 1;
    }
    100% {
        color: @foreground;
    }
}


/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @background;
        color: @foreground;
    }
}

label:focus {
    background-color: #000000;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
